@import url("https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;1,100&family=Source+Sans+3:wght@300;400;500;600;700;800&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
